:root
{

}

body
{
  background-color: #e5e6f2;
  color: #323250;
  height: 100vh;
}

.suggestion-card
{
  padding: 15px !important;
  cursor: pointer;
}

.user-response-messages
{
  text-align: right;
  max-width: 50%;
  padding: 10px 10px;
  margin: 10px 0px;
  background-color: rgb(163, 232, 255);
  border-radius: 20px 20px 0px 20px;
}

.AI-response-messages
{
  text-align: left;
  max-width: 50%;
  padding: 10px 10px;
  margin: 10px 0px;
  background-color: rgb(168, 255, 213);
  border-radius: 20px 20px 20px 0px;
}

.chatbot-body
{
  height: calc(100vh - 200px);
  overflow: auto;
}
